.flex-x {
  display: flex;
}

.flex-y {
  display: flex;
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}

.gap-2 {
  gap: calc(1em + 0.5vw);
}

.gap-0 {
  gap: 0.86rem;
}

.align-start {
  align-items: start;
}

.align-center {
  align-items: center;
}

.display-none {
  display: none;
}

.bg-lemonade {
  background-color: #fbffa7;
}

.bg-spearmint {
  background-color: #b6ffc0;
}

.bg-lavender {
  background-color: #d5b3ff;
}

.bg-periwinkle {
  background-color: #b1c5ff;
}

.has-arrow:after {
  content: '\00a0›';
}

.twitter {
  background-color: #1da1f2;
}

.facebook {
  background-color: #3477f2;
}

.youtube {
  background-color: #ff001d;
}

.instagram {
  background-color: #f77737;
}
