@import url(../reset.css);
@import url(./styles/utility.css);

:root {
  --red: #ff764d;
  --yellow: #fbffa7;
  --blue: #b1c5ff;
  --pink: #d5b3ff;
  --green: #b6ffc0;
  --blue-deep: #0000ff;

  --base-fs: clamp(0.8rem, calc(0.8rem + 0.6vw), 1.5rem);
  --base-fs-sm: clamp(0.8rem, calc(0.8rem + 0.5vw), 1rem);
  --base-fs-md: clamp(0.8rem, calc(0.84rem + 0.5vw), 1.25rem);

  --page-padding: 8.33333vw;
}

button {
  display: inline-block;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: 1em;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-image: none;
  background-color: transparent;
  border: none;
}

body {
  font-family: futura-pt, Avenir, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: var(--base-fs);
  color: #000;
  line-height: 1.5;
  overflow-x: hidden;
}

main {
  background-color: #ffffff;
}

nav[aria-label='primary'] {
  gap: calc(0.65rem + 0.5vw);
  padding-inline: calc(0.8rem + 1vw);
  padding-top: 1.3rem;
  transition-timing-function: ease-in-out;
}

nav[aria-label='secondary'] {
  padding-inline: calc(0.8rem + 1vw);
}

.main-nav {
  position: relative;
  padding-bottom: 0;
  overflow: visible;
}

.main-nav a {
  color: inherit;
  text-decoration: none;
}

.main-nav__logo {
  position: relative;
}

.main-nav__logo svg {
  display: block;
  width: 3.75em;
  height: 1.75em;
}

.main-nav__trigger-btn {
  display: none;
  user-select: none;
  position: relative;
  vertical-align: middle;
  font-weight: bold;
  cursor: pointer;
  font-size: 1.25rem;
}

.main-nav__primary-wrapper {
  flex: 1;
  transform: translateY(0);
  transition-timing-function: ease-in-out;
}

.main-nav__link-list {
  display: flex;
  font-size: var(--base-fs-md);
  font-weight: 400;
  gap: 1.5rem;
  align-items: center;
}

.main-nav__link-list > .item {
  vertical-align: middle;
  margin-left: 0;
  order: 1;
}

.main-nav__link-list > .item.is-active {
  color: var(--red);
}

.main-nav__more-button button {
  display: flex;
  align-items: center;
  gap: 0.4em;
}

.main-nav__more-button span.plus-icon {
  height: 14px;
  width: 14px;
  display: grid;
  align-items: center;
  justify-content: center;
}

.main-nav__more-button span.plus-icon .x-line {
  width: 14px;
  height: 2px;
  background-color: var(--red);
  grid-area: 1/1;
  align-self: center;
}

.main-nav__more-button span.plus-icon .y-line {
  width: 2px;
  height: 14px;
  background-color: var(--red);
  grid-area: 1/1;
  justify-self: center;
}

.main-nav__link-list > .item.item-try {
  font-size: var(--base-fs-md);
  color: var(--blue-deep);
}

.main-nav__link-list > .item.item-account {
  font-size: var(--base-fs-sm);
}

.main-nav__more {
  font-size: var(--base-fs-sm);
  padding-top: 0.625rem;
  padding-bottom: 1.875rem;
  margin-bottom: 0;
  gap: 1.5625rem;
  transform: translateY(0);
  transition-timing-function: ease-in-out;
}

.main-nav__more .main-nav__section {
  padding-top: 0;
  width: 100%;
}

.main-nav__section .heading {
  font-size: var(--base-fs-md);
  padding-bottom: 0.5rem;
  font-weight: 500;
}

.main-nav__section .main-nav__link-list {
  font-weight: 400;
  font-size: var(--base-fs-sm);
}

.main-nav__slideable {
  overflow-x: scroll;
  padding-bottom: 1em;
}

.main-nav__row {
  display: flex;
  align-items: flex-start;
  font-weight: 400;
  font-size: var(--base-fs-sm);
  gap: 1rem;
  padding-right: 1rem;
}

.main-nav__col {
  min-width: 30ch;
  flex: 1;
}

.main-nav__col h4 {
  font-weight: 500;
}

.main-nav__separator {
  display: block;
  height: 0;
  border-top: 2px solid #eee;
}

.main-nav__link-list-secondary {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  font-size: var(--base-fs-sm);
  font-weight: 500;
  align-items: center;
}

.main-nav__link-list-secondary > .item {
  vertical-align: middle;
  margin-left: 0;
  margin-right: 0.3125rem;
  padding-right: 0.625rem;
  padding-left: 0.625rem;
  order: 1;
}

.main-nav__link-list-secondary > .item:first-of-type {
  padding-left: 0;
}

.main-nav__link-list-secondary > .item.is-active {
  color: var(--red);
}

.page-about__text-wrapper {
  padding-left: var(--page-padding);
  padding-right: var(--page-padding);
}

.page-about__header {
  margin-bottom: var(--page-padding);
  margin-left: var(--page-padding);
  margin-right: var(--page-padding);
  position: relative;
  min-height: 100vh;
  min-height: calc(100vh - 120px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-about__text,
.page-about__media {
  width: min(100%, 70ch);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: var(--page-padding);
}

.body-text h1 {
  font-size: clamp(1.25rem, calc(1rem + 1vw), 1.875rem);
  line-height: 1.4;
  text-rendering: optimizeLegibility;
  font-variant-ligatures: common-ligatures;
  font-feature-settings: 'kern';
  font-kerning: normal;
  margin-top: 0;
  margin-bottom: 0.7em;
  font-weight: bold;
}

.body-text h1 a {
  color: var(--blue-deep);
}

.body-text p {
  font-size: var(--base-fs-md);
  line-height: 1.5;
}

.page-about__collage {
  position: relative;
}

.page-about__collage-products,
.page-about__collage-people,
.page-about__collage-improving {
  padding-top: var(--page-padding);
  padding-bottom: var(--page-padding);
  margin-bottom: var(--page-padding);
}

.page-about__collage-people {
  display: grid;
}

.page-about__collage-products .page-about__collage__background {
  width: 58.33333vw;
  height: 58.33333vw;
  left: 41.66667vw;
}

.page-about__collage__background {
  position: absolute;
  top: 0;
  z-index: 0;
}

.page-about__collage-products .page-about__collage__media {
  width: 41.66667vw;
  height: 41.66667vw;
  margin-left: var(--page-padding);
}

.page-about__collage__media,
.page-about__collage__container {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  z-index: 1;
}

.page-about__collage-products .page-about__collage__media:last-child {
  width: 33.33333vw;
  height: 25vw;
  margin-left: var(--page-padding);
}

.page-about__media .media-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  grid-area: 1/-1;
}

.page-about__media .media-button {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  color: #ffffff;
  background-color: var(--blue-deep);
  position: relative;
}

.page-about__media .abl-circle__icon {
  position: absolute;
  top: 1.625rem;
  left: 1.9375rem;
  width: 1.625rem;
  height: 1.8125rem;
}

.page-about__media .figure-caption {
  max-width: 83.33333vw;
  padding: 0.625rem;
  font-size: 0.875rem;
  font-weight: bold;
}

.page-about__media .media-thumbnail {
  grid-area: 1/-1;
}

.page-about__collage-people .page-about__collage__background {
  width: 58.33333vw;
  height: 75vw;
  position: relative;
  grid-area: 1/-1;
}

.page-about__collage__container {
  grid-area: 1/-1;
  align-self: center;
  margin-left: var(--page-padding);
}

.page-about__collage-people .page-about__collage__container__media {
  width: 33.33333vw;
  height: 25vw;
}

.page-about__collage-people .page-about__collage__container__media:last-child {
  margin-top: var(--page-padding);
}

.page-about__collage-people > .page-about__collage__media {
  width: 41.66667vw;
  height: 41.66667vw;
  margin-left: var(--page-padding);
  margin-right: var(--page-padding);
  grid-area: 1/-1;
  align-self: center;
  justify-self: flex-end;
}

.page-about__media-large {
  margin-left: var(--page-padding);
  margin-right: var(--page-padding);
  width: auto;
}

.page-about__collage-improving {
  display: grid;
}

.page-about__collage-improving .page-about__collage__background {
  width: 66.66667vw;
  height: 58.33333vw;
  position: relative;
  justify-self: center;
  grid-area: 1/-1;
}

.page-about__collage-improving .page-about__collage__media {
  width: 33.33333vw;
  height: 25vw;
  margin-left: var(--page-padding);
  grid-area: 1/-1;
  align-self: center;
}

.page-about__collage-improving .page-about__collage__media:last-child {
  width: 41.66667vw;
  height: 41.66667vw;
  margin-left: calc(var(--page-padding) * 2);
  grid-area: 1/-1;
  align-self: center;
  justify-self: right;
}

.page-about__jobs-teaser {
  display: flex;
  flex-wrap: wrap;
  margin-left: var(--page-padding);
  margin-right: var(--page-padding);
}

.page-about__jobs-teaser__media {
  min-width: 535px;
  flex: 1;
  flex-grow: 2;
}

.page-about__jobs-teaser__text {
  min-width: 535px;
  padding: var(--page-padding);
  flex: 1;
}

.page-about__jobs-teaser__text .body-text h1 {
  font-weight: 500;
}

.page-about__jobs-teaser__text__wrapper a {
  display: block;
  margin-top: 1em;
  text-decoration: none;
}

.main-footer {
  max-width: 100rem;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
}

.main-footer__separator {
  padding-top: var(--page-padding);
  position: relative;
  background-color: #fff;
}

.main-footer__separator::after {
  content: '';
  display: block;
  height: 0;
  border-top: 2px solid #efefef;
  position: absolute;
  left: 0;
  right: 0;
}

.main-footer__container {
  padding-left: var(--page-padding);
  padding-right: var(--page-padding);
}

.main-footer__content {
  padding-top: var(--page-padding);
}

.main-footer__row {
  display: flex;
  flex-wrap: wrap;
}

.main-footer__column {
  margin-bottom: 4.16667vw;
  width: max(100%, 15vw);
  margin-right: 1rem;
}

.main-footer h3 {
  margin: 0;
  font-size: 1em;
  font-weight: bold;
}

.main-footer__basics__logo {
  width: max(122px, 14vw);
}

.newsletter__container {
  order: 3;
}

.main-footer__column .newsletter__form {
  margin-top: 1rem;
}

.form__group {
  display: flex;
  min-width: 342px;
}

.form__field {
  flex: 1;
}

.form__field input[type='email'] {
  font-size: inherit;
  width: 100%;
  margin: 0;
  padding: 0.4em 0.75em;
  background: transparent;
  background-color: #eee;
  border: 0;
  user-select: none;
  font-weight: normal;
  border-radius: 0;
}

.form__group .button {
  margin: 0;
  padding: 0.35em 1.5em;
  font-weight: bold;
  font-size: inherit;
  color: #fff;
  background: blue;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  appearance: none;
}

.main-footer__list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

.main-footer a {
  color: inherit;
  text-decoration: none;
}

.main-footer__social-listitem {
  display: inline-block;
}

.main-footer__social-button {
  width: 2.3rem;
  height: 2.3rem;
  margin-top: 0.625rem;
  display: inline-block;
  vertical-align: top;
  font-size: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 0.625rem;
}

@media screen and (max-width: 1283px) {
  .page-about__jobs-teaser__media {
    height: 50vw;
  }
}

@media screen and (max-width: 1026px) {
  #main-nav-wrapper {
    flex-direction: column;
  }

  .is-expanded {
    background-color: #0000ff;
    color: #ffffff;
    fill: #ffffff;
    transition-timing-function: ease-in-out;
  }

  .is-hidden {
    transition-property: transform;
    transform: translateY(-100%);
    color: white;
    position: absolute;
    top: 0;
    left: 0;
  }

  .main-nav__link-list {
    flex-direction: column;
    align-items: start;
    gap: 0.7rem;
  }

  .main-nav__link-list > .item.item-try {
    color: #ffffff;
  }

  .main-nav__trigger-btn {
    display: block;
  }

  .main-nav__more-button {
    display: none;
  }

  .main-nav__more {
    display: flex;
    flex-direction: column;
  }
}
