@import url(../reset.css);

body {
  font-family: futura-pt, Avenir, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-size: 1rem;
  color: #000;
}

main {
  background-color: #ffffff;
}

nav[aria-label='primary'] {
  display: flex;
}

.main-nav {
  position: relative;
  padding-top: 1.25rem;
  padding-bottom: 0;
  overflow: visible;
  padding-right: 17px;
}

.main-nav a {
  color: inherit;
  text-decoration: none;
}

.main-nav__logo {
  position: relative;
  margin-left: 2.5rem;
  margin-right: 2em;
  margin-bottom: 1.25rem;
}

.main-nav__logo svg {
  display: block;
  width: 3.75em;
  height: 1.75em;
}

.main-nav__trigger-btn {
  display: none;
}

.main-nav__primary-wrapper {
  flex: 1;
}

.main-nav__primary-wrapper .main-nav__link-list {
  display: flex;
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}

.main-nav__link-list__item {
  display: inline-block;
  vertical-align: middle;
  margin-left: 0;
  margin-right: 0.3125rem;
  padding-right: 0.625rem;
  padding-left: 0.625rem;
  order: 1;
}

.main-nav__link-list__item.is-active {
  color: #ff764d;
  flex: 1;
}

button.main-nav__more-button {
  display: flex;
  align-items: center;
  gap: 0.4em;
}

.main-nav__more-button span.plus-icon {
  height: 12px;
  width: 12px;
  display: grid;
  align-items: center;
  justify-content: center;
}

.main-nav__more-button span.plus-icon .x-line {
  width: 12px;
  height: 2.5px;
  background-color: #ff764d;
  grid-area: 1/1;
  align-self: center;
}

.main-nav__more-button span.plus-icon .y-line {
  width: 2.5px;
  height: 12px;
  background-color: #ff764d;
  grid-area: 1/1;
  justify-self: center;
}

.abl-btn--reset {
  display: inline-block;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: 1em;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-image: none;
  background-color: transparent;
  border: none;
}

/* .main-nav__trigger-label {
  font-size: 1.25rem;
  line-height: 1.5;
  transition-property: color;
  transition-duration: 0.35s;
  user-select: none;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0.9375rem;
  font-weight: bold;
  cursor: pointer;
}

.main-nav__link-list {
  display: flex;
  flex: 1;
}

.main-nav__link-list--primary {
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}

.main-nav__more-button.main-nav__more-button {
  line-height: initial;
  vertical-align: initial;
}

.main-nav__link-list__item--try {
  font-size: 1.25rem;
  line-height: 1.5;
  color: blue;
}

.main-nav__trigger-btn {
  display: none;
} */
